header>div>img {
    background-color: #FFF;
    border-radius: 100px;
}

body {
    background-image: url('/projeto-integrador/img/imgLogin.jpg');
}

.inner-div-form-profissional {
    width: 65%;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #FFF;
    border-radius: 5px;
}
